.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.accordionContainer {
  margin: 10px 20%;
}

.accordion {
  border: 1px solid #fff;

  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
  margin: 10px 0px;
}

/* .summary {
} */

.details {
  background-color: var(--color-white) !important;
  color: var(--color-black) !important;
}
