/* album section */

.albumsection {
  background-color: var(--color-black);
  color: var(--color-white);
  margin-top: 0px;
}

.albumTab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
